.main-article {
  margin-bottom: 4rem;
}

.main-article img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.main-article h1 {
  margin-bottom: 1rem;
}

.main-article p {
  color: #5e607a;
  margin-bottom: 1.5rem;
}

.btn__read-more {
  display: block;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 4.375px;
  color: #fffdfa;
  background-color: #f15d51;
  border: none;
  outline: none;
  padding: 0.8125rem 2.1875rem 0.6875rem 1.9375rem;
  text-transform: uppercase;
}

@media (min-width: 48rem) {
  .main-article img {
    height: auto;
    margin-bottom: 1.875rem;
  }

  .main-article__text {
    max-width: 50%;
  }

  .main-article p {
    margin-bottom: 1.8125rem;
  }

  .btn__read-more:hover,
  .btn__read-more:focus {
    background-color: #00001a;
  }
}

@media (min-width: 90rem) {
  .main-article {
    margin-bottom: 0;
  }

  .main-article__text {
    display: grid;
    align-items: center;
    grid-template-columns: 47.9452054795% 47.9452054795%;
    gap: 4.1095890411%;
    max-width: unset;
  }

  .main-article h1 {
    margin-bottom: 0;
  }
}
