@import url("./../components/nav/styles.css"); /* NAV STYLES*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  font-size: 16px;
}

body {
  background-color: #fffdfa;
  overflow-x: hidden !important;
}

/* ==========
 GLOBAL STYLES
 ========== */
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0); /* Hides the element off-screen */
  clip-path: inset(50%); /* Alternative for modern browsers */
  overflow: hidden; /* Ensures content is not visible */
}

/* ==========
 TYPOGRAPHY
 ========== */
h1 {
  color: #00001a;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5rem;
}

p {
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

@media (min-width: 90rem) {
  /* ==========
 TYPOGRAPHY
 ========== */
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
